@model MVOGamesUI.Areas.User.Models.FakePayment


<div class="container itemContainer">
    <h2 class="detailsHeader">Payment</h2>
    <br />
    @{
        Html.RenderPartial("_PaymentInfo", Model);
    }
</div>

