@model List<ServiceGateway.Models.Crew>

@{
    ViewBag.Title = "Index";
}


<div class="itemContainer container">
    <h2>Index</h2>
        @foreach (var crew in Model)
        {
            <p>@crew.Name</p>
            <p>@crew.CrewLeaderId</p>
        }
</div>