@model IEnumerable<ServiceGateway.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2><strong>Orders</strong></h2>
<div class="container itemContainer">
    <br />
    <table class="table table-condensed table-hover">
            <tr class="tablehederColor">
                <th>
                    User
                </th>
                <th>
                    Date
                </th>
                <th class="col-md-6">

                </th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td align="right">
                        <button class="orderButtons btn btn-warning" onclick="window.location.href = '/Admin/Orders/Edit/@item.Id'">Edit</button>
                        <button class="orderButtons btn btn-info" onclick="window.location.href = '/Admin/Orders/Details/@item.Id'">Details</button>
                        <button class="orderButtons btn btn-danger" onclick="window.location.href = '/Admin/Orders/Delete/@item.Id'">Delete</button>
                    </td>
                </tr>
            }
    </table>

</div>
