<ol class="progress-tracker">
    <li class="step"><span class="step-name">Specification</span></li>
    <li class="step "><span class="step-name">Confirmation</span></li>
    <li class="step"><span class="step-name">Payment</span></li>
    <li class="step active"><span class="step-name">Succes</span></li>
</ol>


<h2>Done</h2>

