@model DTOModels.Models.GenreDTO


@{
    ViewBag.Title = "Delete Genre";
}


<h2>Are you sure you want to delete the Genre <strong>"@Model.Name"</strong>?</h2>
<div>
    <hr />
    <div class="container itemContainer">
        <br />
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <dd>
                <div class="form-actions no-color moveRight50" align="center">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </dd>
        }
        <br />
    </div>
</div>
