body {
    /*background-color: pink;*/
}

.smallPic {
    height: 150px;
    width: 100px;
}

.trailer {
    height: 150px;
    width: 310px;
}

th{
    color:orangered;
}
td{
    color:black;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:lightgray;
}

h2{
    text-align: center;
}

.gamePanel{
    top:10px;
}




