body {
    color:white;
}

.smallPic {
    height: 150px;
    width: 100px;
}

.trailer {
    height: 150px;
    width: 310px;
}

th{
    color:orangered;
}
td{
    color:white;
}

.tablehederColor{
    background-color:#303030;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:orangered;
}

h2{
    text-align: center;
}

.gamePanel{
    top:10px;
    min-width:300px;
}

.myEditorForLength{
    width:850px;
}
.myEditorForLengthEdit{
    width:950px;
    padding-left:220px;
}

.myDisplayFor{
    padding-left:200px;
}

.crewTable th, .crewTable td {
    width: 80px;
    
}

.moveRight50 {
    padding-left: -50px;
}

.crewTable th {
    border-bottom: 0px;
}







