
#topLogo{
    height:30px;
    padding: 0;
    margin: 0;
}

body {
    margin-top: 50px;
    /*background-color: darkgray;*/
    /*background-color: #989898 ;*/
    background-color: #404040;
}

h2{
    /*color:#525252;*/
    color: #ff471a;
}


.navbar{
    height: 60px;
    /*background-color:#D7D6D6;*/
    background-color: #303030;
    border-bottom: #ff471a 1px solid;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #282828;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: White;  /*Sets the text hover color on navbar*/
}

.dropdown-menu, .dropdown-menu > li > a, .dropdown-menu > .dropdown-header{
    background-color: #282828;
   
}
.dropdown-menu > li > a {
    color: white;
}

.dropdown .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: white;
  background-color: #ff471a;  /*change color of links in drop down here*/
   }

/*.myTopNav ul li {
    padding: 10px 0 0 0;
    margin: 0;
    
}*/


@media (min-width: 1200px) {
    .container{
        max-width: 1350px;
    }
}


.itemContainer {
    background: rgb(60, 60, 60);
    background: rgba(90, 90, 90, 0.4);
}

.itemContainer a {
    color: white;
}
p{ color: white;}

