 body {
    background: no-repeat center center fixed;
     background-image: url(/Content/Images/GamingWallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
h2 {
    color: white;
}
#logoutTab {
    padding-left: 35px;
}
.detailsHeader {
	color: #fff;
	text-shadow: 
		0 0 10px #fff, 
        0 0 20px #ff471a,
		0 0 30px #ff471a, 
		0 0 50px #ff471a, 
		0 0 70px #ff471a,
		0 0 90px #ff471a,
        0 0 100px #ff471a;
}

/*The next section is for the crew panel in Profile Index view!*/
.crewPanel {
    border: black solid 1px;
    margin-top: 30px;
    border-radius: 10px;
    float: right;
    margin-right: 100px;
    width: 200px;
    color: white;
    background-color: #303030;
    background-color: rgba(90, 90, 90, 0.4);
}
.crewPanel .panel-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(90, 90, 90, 0.4);
}
.crewPanel .panel-heading {
    border-bottom-color: black;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    background-color: #303030;
    
}
.crewPanel h4 {
    color: #ff471a;
    text-shadow: none;
}
.crewImg {
    max-height: 40px;
     padding: 5px; 
     /*border-right: #ff471a solid 1px;*/
}
.crewPanel .panelCrewSingle {
    border: #ff471a solid 1px;
    border-radius: 10px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.3);
   
}
.panelCrewSingle a{
    padding-left: 10px;
    color: #ff471a;
}

/*The next section is for MyCrew-View*/
.myCrewLeft{
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    border-right: 1px solid #ff471a;
}
.myCrewLeft img {
    padding: 20px;
    clear: both;
}
.myCrewLeft .list-group .list-group-item{
    background:none;
    background-color:none;
    border:none;
    border-bottom: 1px solid white;

}
.myCrewRight .detailsHeader {
    padding-top: 80px;
}
.myCrewRight .list-group-item{
    background:none;
    background-color:none;
}.myCrewRight .list-group-item .list-group-item-heading{
     color:white;
}
 .crewGameImg{
     height:110px;
 }
 .myCrewRight a:hover{
     background-color: rgba(255, 71, 26, 0.7);
 }
 .crewLeaderDiv{
      
      background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
 }
 .crewApplications{
     overflow: scroll;
    height: 350px;
    overflow-x: hidden;
 }
 .applicationContainer{

     margin:10px;
      background-color: rgba(255, 71, 26, 0.7);
 }

 /*   the next section is for CrewGameSuggestion Detail view*/
 .usersRejected{
     


 }
 .usersConfirmed{
     border-right: 1px solid #ff471a;
     height:200px;
 }
 .cgsUsers{
     padding:10px;
         background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    
 }

/*  Payment view */
.containerPayment{
    margin-bottom:100px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    background-color:grey;
    max-width: 400px;
}
.containerPayment h4{
    padding-top:10px;
}
.containerPayment form{
    padding:0;
    margin:0;
    max-width:400px;


}

/**/
input[type=submit] {
  
    background-color:#ff471a; 
    border:0 none;
   
    border-radius: 5px; 
}
.expDate{
    float:left;
}



/*Find a crew - Crews index*/

 
 .crewItems{
     padding-top:50px;
	margin-top:20px;
	list-style: none;
	width:90%;
	margin:0 auto;
}

.crewItems li {
 
    border-radius:10px;
    border: 1px solid #ff471a;
	width:30%;
	height:100px;
	background: rgba(0, 0, 0, 0.5);
	display:inline-block;
	margin:1%;
	line-height: 100px;	
	text-align:center;
	vertical-align: middle;
    
}
.crewItems li img {
    background:black;
    border-radius:10px;
    padding:0;
    margin:0;
	width:30%;
	height:100%;
    float:left;
}

/* Crew order  (Crewbuy)*/

.coGameDiv{
    float:right;
    margin-bottom:40px;
    padding:20px;
    background: rgba(0, 0, 0, 0.5);
}
.coGameDiv img{
    max-height:250px;
}
.confirmDiv{
    float:right;
    max-width:300px;
}



